/* Hide scrollbar for entire page */
body {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / old Edge */
}

body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
